footer p {
  text-align: center;
  padding: calc(var(--padding-primary) / 2);
  color: var(--color-light);
  font-weight: var(--font-weight-normal);
}

footer p a {
  color: var(--color-light);
  transition: all 0.3s;
}

footer p a:hover {
  color: var(--color-primary);
}
