.button a {
  font-size: 14px;
  color: var(--color-light);
  border-radius: var(--border-radius-primary);
  padding: 12px 30px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

.primary-button a {
  background-color: var(--color-primary);
}

.primary-button a:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.secondary-button a {
  border: 1px solid var(--color-primary);
}

.secondary-button a:hover {
  border: 1px solid var(--color-light);
  color: var(--color-primary);
}
