.most-popular-item {
  flex: 1 25%;
}

.card-wrapper {
  background-color: var(--color-dark);
  border-radius: var(--border-radius-primary);
  padding: calc(var(--padding-primary) / 2);
  margin: calc(var(--margin-primary) / 5);
}

.most-popular-item-image {
  width: 100%;
  border-radius: calc(var(--border-radius-primary) / 4);
  margin-top: calc(var(--padding-primary) / 5);
}

.most-popular-item-content {
  display: flex;
  justify-content: space-between;
}

.most-popular-item-title {
  font-size: 15px;
  line-height: 1.5rem;
}

.star-icon {
  color: yellow;
}

.download-icon {
  color: brown;
}
