:root {
  --color-dark: #27292a;
  --color-darkest: #1f2122;
  --color-light: #fff;
  --color-primary: #ec6090;

  --distance-primary: 50px;
  --padding-primary: var(--distance-primary);
  --margin-primary: var(--distance-primary);
  --border-radius-primary: calc(var(--distance-primary) / 2);

  --font-family-primary: "Ysabeau Infant", sans-serif;
  --font-weight-bold: 700;
  --font-weight-normal: 300;
}

@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@300;700&display=swap");

body {
  background-color: var(--color-darkest);
  font-family: var(--font-family-primary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
